.header {
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 47px;
    padding-bottom: 90px;
    @include media-desktop {
        padding-bottom: 47px;
    }
    @include media-tablet {
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.header__title {
    @include flex (0, 1, 41.5%);
}
.header__nav {
    @include flex (0, 1, 58.5%);
    @include media-tablet {
        display: none;
    }
}