.offer {
}
.offer__container {
    position: relative;
    padding-top: 95px;
    padding-bottom: 94px;
}

.offer__body {
    padding: 140px 70px 139px 100px;
    margin-left: -95px;
    max-width: 691px;
    background: $bg-offer;
    position: relative;
    z-index: 2;
    > *:not(:last-child) {
        margin-bottom: 10px;
    }
}
.offer__title {
    line-height: 6.6rem;
}
.offer__text {
    font-family: $font-extra;
    @include font (3.2, 3.9, 200);
    line-height: 4.3rem;
}
.offer__imgage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -195px;
    > img {
        position: absolute;
    }
}