// @font-face,
// font, letter-spacing, line-height, white-space, word-spacing,
// text-align, text-decoration, word-break, word-wrap

/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
       url('../fonts/barlow-v12-latin-600.woff') format('woff');
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/playfair-display-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/playfair-display-v29-latin-regular.woff') format('woff');
}
/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/playfair-display-v29-latin-700.woff2') format('woff2'),
       url('../fonts/playfair-display-v29-latin-700.woff') format('woff');
}
/* playfair-display-900 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url('../fonts/playfair-display-v29-latin-900.woff2') format('woff2'),
       url('../fonts/playfair-display-v29-latin-900.woff') format('woff');
}

/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(''),
       url('../fonts/inter-v11-latin-200.woff2') format('woff2'),
       url('../fonts/inter-v11-latin-200.woff') format('woff');
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/inter-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/inter-v11-latin-regular.woff') format('woff');
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('../fonts/inter-v11-latin-600.woff2') format('woff2'),
       url('../fonts/inter-v11-latin-600.woff') format('woff');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/inter-v11-latin-700.woff2') format('woff2'),
       url('../fonts/inter-v11-latin-700.woff') format('woff');
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url('../fonts/inter-v11-latin-900.woff2') format('woff2'),
       url('../fonts/inter-v11-latin-900.woff') format('woff');
}
