.social {
    display: flex;
    > *:not(:last-child) {
        margin-right: 36px;
    }
}
.social__item {
    @extend %transition;
    &:hover {
        transform: scale(1.3);
    }
    &_facebook {
    }
    &_twitter {
    }
    &_instagram {
    }
}